[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
collation-server = utf8_unicode_ci
character-set-server = utf8
#default sql mode
sql-mode	=	"ALLOW_INVALID_DATES"
bind-address	=	0.0.0.0
max-allowed-packet = 128M
max-connections = 150
max-connect-errors = 150
#======== LOG CONFIG ============#
### Slow query log configuration ###

slow_query_log	= 	1
slow_query_log_file	=	/var/log/mysql/long-query.log
long_query_time = 1
log_output = FILE
